
.navbar {
  position: static;
  height: 40px;
  max-width: 1000px;
  margin: 98px auto 0 auto;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  border-radius: 5px;
  }

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
  margin: 0 20px auto 0;

}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
}


.navbar span {
    display: inline-block;
    width: 1px;
    height: 100%;
    float: left;
    background-color:#363636;
